
debug: yes
locale: en
force: no
library:
pretend: no
verbose: no

plugins:

  bikecitizens:
    password: PASSWORD
    username: USERNAME

  local:

  polar:
    password: USERNAME
    username: PASSWORD

  strava:
    password: PASSWORD
    username: USERNAME
    client_id: CLIENT_ID
    client_secret: CLIENT_SECRET

  waze:
    field_size_limit: 524288
