<!DOCTYPE html>
<html>
<head>
  <title>Log In | Strava</title>
</head>
<body>
    <div class='page container'>
      <div class='registration-panel'>
        <h1 class='mb-0'>
          Log In
        </h1>
        <form id="login_form" class="website" action="/session" accept-charset="UTF-8" method="post">
          <input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="000000001111111122222222==" />
          <button class='btn btn-primary' id='login-button' type='submit'>
            Log In
          </button>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
