arrow
attrs
beautifulsoup4
Babel
cattrs
click
click-shell
confuse
DateTimeRange
fs
geojson
gpxpy
lxml
mkdocs
mkdocs-click
mkdocs-material
oauthlib
orjson
platformdirs
pytest
python-dateutil
PyYAML
requests
requests-cache
requests-oauthlib
rich
rule-engine
stravalib
tcxreader
tzlocal
